.search-bar {
    margin: 20px;
    text-align: center;
}

.search-bar input {
    width: 75%;
}

.video-item img {
    max-width: 70px;
}

.video-detail .details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #B3B1B1;
    border-radius: 5px;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #C4C0C0;
}